/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */
body {
  font-size: 15px;
  line-height: normal;
}

.vp-doc [class*='language-'] code {
  padding: 0 10px;
  line-height: normal;
}

.vp-doc p {
  line-height: normal;
}

:root {
  --vp-sidebar-width: 250px;
  --vp-code-line-height: none;
}


.DocSearch-Button {
  height: 35px;
}

.vp-doc .line-numbers-wrapper {
  line-height: normal;
}